<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hu.ssmFrame.dao.FilePathMapper">

	<resultMap id="FilePath" type="com.hu.ssmFrame.pojo.FilePath">
		<id  column="ID_FILE_PATH" property="idFilePath" jdbcType="NVARCHAR" />
		<result column="ITEM" property="item" jdbcType="NVARCHAR" />
		<result column="ITEM_PK" property="itemPk" jdbcType="NVARCHAR" />
		<result column="FILE_PATH" property="filePath" jdbcType="NVARCHAR" />
		<result column="FILE_NAME" property="fileName" jdbcType="NVARCHAR" />
		<result column="TYPE" property="type" jdbcType="INTEGER" />
		<result column="ATTACH_ID" property="attachId" jdbcType="NVARCHAR" />
		<result column="FILE_COUNT" property="fileCount" jdbcType="INTEGER" />
	</resultMap>
	
<!-- 附件下载后，插入路径表 -->
   <insert id="insert">
<!-- 提前生成主键 -->
<!--    <selectKey keyProperty="tid" keyColumn="tid" order="BEFORE" resultType="string">-->
<!--    	SELECT NEWID()-->
<!--    </selectKey>-->
<!-- 主键在数据库设置了自动生成guid,不用插入了 -->
    insert into FILE_PATHS (
    	ITEM,ITEM_PK,FILE_PATH,FILE_NAME
    <if test="type != null">
    	,TYPE
    </if>
    ,ATTACH_ID
    <if test="fileCount != null">
        ,FILE_COUNT
    </if>)
	values(
		#{item,jdbcType=NVARCHAR}
    	,#{itemPk,jdbcType=NVARCHAR}
      	,#{filePath,jdbcType=NVARCHAR}
      	,#{fileName,jdbcType=NVARCHAR}
        <if test="type != null">
    		,#{type,jdbcType=INTEGER}
 		</if>
       	    ,#{attachId,jdbcType=NVARCHAR}
       	<if test="fileCount != null">
       	    ,#{fileCount,jdbcType=INTEGER}
       	</if>
    )
  </insert>
  
  <!-- 	根据主键删除数据 -->
	<delete id="deleteById" >
	    DELETE FROM FILE_PATHS WHERE ID_FILE_PATH = #{idFilePath}
	</delete>
  
  <!-- 	查询条件:事项主表名称和事项主键 -->
	<sql id="query_item_info">
		<if test="item!=null and ''!=item">
		  AND ITEM=#{item,jdbcType=NVARCHAR}
		</if>
		<if test="itemPk!=null and ''!=itemPk">
		  AND ITEM_PK=#{itemPk,jdbcType=NVARCHAR}
		</if>
	</sql>

<!-- 根据事项主表名称和事项主键,查询办件的批量下载包信息  -->
	<select id="selectZipPathByItemInfo" resultMap="FilePath">
		select * from FILE_PATHS 
		<where>
			<include refid="query_item_info"></include>
		</where>
	</select>
	
<!-- 	根据附件的主键查找 -->
	<select id="selectByAttachmentId" resultMap="FilePath">
		SELECT * FROM FILE_PATHS WHERE ATTACH_ID=#{attachId}
	</select>
	

	
</mapper>
